<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel = "stylesheet" href = "css/style.css">
  </head>
  <body>
      <form method = "POST" action ="/song" >
            <h2> enter search </h2>
              <input type = "text" name="search">
              <input type = "submit">
          </form>
      <!--<div class= "<%=@status%>">-->
      <!--    <img src = "https://static.pexels.com/photos/126407/pexels-photo-126407.jpeg">-->
      <!--</div>-->
  </body>
</html>